body {
    background-color: rgb(45, 45, 51);
    color: white;
    margin: 50px 30px auto 30px;
    font-family: Luxurious Roman, Licorice, Lobster;

}

h1 {
    text-align: center;
}

.player {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.results {
    margin-top: 50px;

}

.choose {
    border-radius: 100px;

}

.player img {
    height: 150px;
    width: 150px;
    border-radius: 100px;


}

.player div {
    margin-right: 20px;
}

#player-choice img {
    height: 150px;
    margin-right: 30px;
    ;

}

#computer img {
    height: 150px;
}

.results {
    display: flex;
    justify-content: center;
    transition: all 2s;
    margin-top: 10px;

}

#valor {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.counter {
    display: flex;
    justify-content: center;
    margin-top: 15px;


}

#you {
    
    border: solid 3px;
    padding: 10px 60px 10px 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px white;
    


}

#comp {
    border: solid 3px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px white;

}

.counter div {
    margin-right: 10px;


}


@media (max-width: 600px) {
    .player img {
        height: 90px;
        width: 90px;
        border-radius: 100px;


    }

    .player div {
        margin-right: 10px;
    }

    h1 {
        font-size: 25px;
    }

    .results div img {
        height: 90px;
        width: 90px;
    }
}